In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
tips.describe(include='category')

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

In [7]:
tips.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [9]:
tips['size'].mean()

np.float64(2.569672131147541)

In [10]:
tips.mean(numeric_only=True)

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [11]:
c1 = tips['smoker'] == 'Yes'
tips.loc[c1, 'tip'].mean()

np.float64(3.008709677419355)

In [17]:
c1 = tips['day'] == 'Sat'
c2 = tips['tip'] > 1
c3 = tips['smoker'] == 'No'

tips.loc[c1 & c2 & c3, 'total_bill'].mean()

np.float64(19.943863636363638)

In [18]:
tips.mean(numeric_only=True, skipna=False)

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [20]:
tips['total_bill'].median()

np.float64(17.795)

In [21]:
tips.sum(numeric_only=True)

total_bill    4827.77
tip            731.58
size           627.00
dtype: float64

In [22]:
tips['tip'].sum()

np.float64(731.5799999999999)

In [23]:
tips['tip'].cumsum()

0        1.01
1        2.67
2        6.17
3        9.48
4       13.09
        ...
239    722.83
240    724.83
241    726.83
242    728.58
243    731.58
Name: tip, Length: 244, dtype: float64

In [24]:
tips['tip'].var()

np.float64(1.914454638062471)

In [25]:
tips['total_bill'].var()

np.float64(79.25293861397827)

In [26]:
tips['tip'].std()

np.float64(1.3836381890011822)

In [27]:
np.sqrt(tips['tip'].var())

np.float64(1.3836381890011822)

In [28]:
tips['total_bill'].min()

np.float64(3.07)

In [29]:
tips['total_bill'].max()

np.float64(50.81)

In [30]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [32]:
tips['size'].agg(['mean', 'std'])

mean    2.569672
std     0.951100
Name: size, dtype: float64

In [33]:
tips[['size', 'total_bill']].agg(['min', 'max', 'std'])

       size  total_bill
min  1.0000    3.070000
max  6.0000   50.810000
std  0.9511    8.902412

In [34]:
tips['tip'].quantile(0.3)

np.float64(2.0)

In [36]:
tips['tip'].median()

np.float64(2.9)

In [37]:
tips['tip'].quantile(0.5)

np.float64(2.9)

In [39]:
tips['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [40]:
tips['day'].nunique()

4

In [41]:
tips['day'].mode()

0    Sat
Name: day, dtype: category
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [42]:
tips['time'].mode()

0    Dinner
Name: time, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [44]:
tips['day'].mode()[0]

'Sat'

In [45]:
tips['time'].mode()[0]

'Dinner'